body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#btn {
    display: inline-block;
    background: #FF0000;
    height: 200px;
    width: 200px;
}

#btn.active {
    background: #AA0000;
}
